/* font   font-family: 'Poppins', sans-serif; */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 121, 91, 1) 56%,
    rgba(0, 212, 255, 1) 100%
  );
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
    height: 100vh;
}
